spring:
  datasource:
    url: jdbc:sqlite:study_platform.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.studyplatform: DEBUG